[submodule "safe_to_netcdf"]
	path = safe_to_netcdf
	url = https://github.com/NasjonaltBakkeSegment/safe_to_netcdf.git
[submodule "send_email"]
	path = send_email
	url = https://github.com/NasjonaltBakkeSegment/send_email.git
